<div class="container bg-dark text-center text-white pb-2 ">

  <h2>Lista de estudantes</h2>

<button class="btn btn-primary" routerLink="/students/add">Adicionar estudante</button>

<table class="table table-bordered table-striped mt-2">
  <thead>
    <tr>
      <th>nome</th>
      <th>idade</th>
      <th>curso</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.nome }}</td>
      <td>{{ student.idade }}</td>
      <td>{{ student.curso }}</td>
      <td>
        <button class="btn btn-secondary" routerLink="/students/edit/{{ student._id }}">Editar</button>
        <button class="btn btn-danger m-2" (click)="deleteStudent(student._id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
